@import "tailwindcss";

/* Enable dark mode variant - CORRECT syntax for v4 */

    @variant dark (&:is(.dark *));


    
/* *
{
    outline: 1px solid red;
} */



.overflow-x-auto::-webkit-scrollbar 
{
    height: 0.5px;
    /* thin scrollbar */
}

.overflow-x-auto::-webkit-scrollbar-track 
{
    background: white;
    /* light gray track */
}

.overflow-x-auto::-webkit-scrollbar-thumb
{
    background: #dee0e3;
    /* gray thumb */
    border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover 
{
    background: #9ca3af;
    /* darker on hover */
}

@media (min-width: 768px) 
{
    .overflow-x-auto 
    {
        scrollbar-width: thin;
        scrollbar-color: #d1d5db #f3f4f6;
    }
}